* { box-sizing: border-box; }
body {
    font-family: sans-serif;
    background: #dd499a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin: 0;
}
#query {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
#question {
    text-decoration: none;
    color: inherit;
    font-size: 1.8em;
    margin-bottom: 2em;
}
.link #question {
    margin-bottom: 0;
}
#answers button {
    border: 2px solid #fff;
    background: none;
    border-radius: 0.8em;
    padding: 1em;
    width: 10em;
    color: #fff;
    margin: 0 0.5ex;
    cursor: pointer;
    transition: all 0.5s;
}
#answers button:hover {
    background: #fff;
    color: #dd499a;
}
.caption {
    margin: 1ex;
    font-size: 0.9em;
    display: none;
    font-weight: bold;
}
.link .caption {
    display: block;
}
#namesb {
    margin: 0.25ex;
    font-size: 1.1em;
    display: none;
	text-decoration: none;
    color: inherit;
}
.link #namesb {
	display: block
}
#about {
    position: fixed;
    bottom: 4px;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
}
#about a {
    color: #fff;
}
